@font-face {
    font-family: 'nobileregular';
    src: url('fonts/Nobile/nobile-regular-webfont.woff2') format('woff2'),
         url('fonts/Nobile/nobile-regular-webfont.woff') format('woff'),
         url('fonts/Nobile/nobile-regular-webfont.ttf') format('truetype'),
         url('fonts/Nobile/nobile-regular-webfont.svg#nobileregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'architects_daughterregular';
    src: url('fonts/architectsdaughter/architectsdaughter-regular-webfont.woff2') format('woff2'),
         url('fonts/architectsdaughter/architectsdaughter-regular-webfont.woff') format('woff'),
         url('fonts/architectsdaughter/architectsdaughter-regular-webfont.ttf') format('truetype'),
         url('fonts/architectsdaughter/architectsdaughter-regular-webfont.svg#architects_daughterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0 auto;
    font-size: 16px;
    font-family: 'nobileregular', sans-serif;
    background-color: #4a61a1;
}

header {
    text-align: center;
    width: 100%;
    display: inline-block;
}

nav > ul li {
    color: #fff;
    font-size: 1.3rem;
    padding: 0.5em;
    display: inline;
    letter-spacing: 0.1em;
}

main {
    color:#374670;
    background-color: #fff;
    padding: 20px 0 0 0;
    margin: 10px;
    width: 100%;
    min-height: 500px;
    margin:auto;
}

footer {
    margin: 0;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #f1f1f1;
}

a:visited {
    text-decoration: line-through;
    color: #818181;
}

a:active, a:hover{
    font-weight: bold;
    cursor: default;
    color: #fff;
}

a:focus {
    outline: 1px solid #f1f1f1;
    font-weight: bold;
}

h1, h2, h3 {
    text-align: center;
}

h1, h3, h4 {
    font-family: 'architects_daughterregular', serif;
}

h3, h4{
    letter-spacing: 0.1rem;
}

h1 {
    color: #fff;
    font-size: 4rem;
    margin: 0;
    padding: 20px 0 0 0;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
    margin: 40px 0 0 0;
}

p {
    max-width: 75ch;
    line-height: 1.5em;
    text-align: left;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.meal {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 10px 15px;
    width: 30%;
    margin: auto;
}

.meal > .meal-name {
    flex-grow: 1.5;
}

.meal > .meal-name > h4 {
    border-bottom: 1px solid #526cb3;
    font-size: 1.3rem;
}

.meal > .price {
    flex-grow: 2;
}

.report {
    margin: auto;
}

table {
  padding-bottom: 15px;
  margin: auto; 
}

table > thead th, tbody td {
  margin-top: 10px;
  padding: 5px 30px;
  text-align: left;
}

table > tfoot td{
    text-align: center;
    padding-top: 15px;
}

#info {
    font-size: 1.5rem;
}
