body {
    margin: 0 auto;
    font-size: 16px;
}

header {
    background-color: rgba(37, 74, 177, 0.603);
    text-align: center;
    width: 100%;
    display: inline-block;
}

header > a {
    font-family: 'Gabriela', serif;
    font-family: 'Gabriela', serif;
    color: #fff;
    font-size: 2em;
    margin: auto;
    padding: 20px 0 0 0;
}

nav > ul li {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em;
    display: inline-block;
}

a:link, a:visited {
    text-decoration: none;
    color: #fff;
}

a:active, a:hover {
    font-weight: bold;
    cursor: default;
    color: #fff;
}

main {
    color:rgba(37, 74, 177, 0.603);
    padding: 20px 0 0 0;
    margin: 10px;
    width: 100%;
    margin:auto;
    text-align: center;
}

main > h2 {
    font-family: 'Gabriela', serif;
    font-size: 2em;
}

main > h3 {
    font-size: 1.7em;
    color: rgb(37, 74, 177, 0.603),
}


footer {
    margin: auto;
    height: auto;
    text-align: center;
    background-color: rgba(37, 74, 177, 0.603);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > div {
    display: inline-block;
    width: 100%;
    margin: 50px 0 20px 0;
}

footer > div .left {
    width: 45%;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

footer > div .right {
    width: 45%;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}
